.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 70px auto -28px;
}

.slide-left {
  overflow: hidden;
}

.slide-right {
  overflow: hidden;
}

.slide-left div {
  font-size: 15px;
  font-family: KlavikaRegular;
  color: white;
  font-style: italic;
  animation: 1s slide-right 2s forwards;
    transform:translateX(-100%);
}

.slide-right div {
  font-size: 15px;
  font-family: KlavikaRegular;
  font-style: italic;
  color: white;
  animation: 1s slide-right 4s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.monk{
  z-index: 99;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto -28px;
  width: 233px;
  height: 120px;
  display: flex;
  animation-name:img-ani;
  animation-duration: 2s;   
  animation-timing-function: ease-in;

  transform-origin: bottom ;
  animation: scale 500ms ease-in-out forwards;
  animation: fly-monk 7s linear forwards;
}

.monk > .monk img{
  width: 50%;
  height: 50%;
}



.monkBlock {
  position: absolute;
  /* top: 75%; */
  /* left: 50%; */
  animation: fly-monk 7s linear forwards;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
  justify-content: center;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(10px);
  animation-delay: calc(var(--v) * -0.5s);
}

@keyframes animate {
  0% {
      transform: translateY(0) scaleX(1);
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  50% {
      transform: translateY(100px) scaleX(5);
  }
  95% {
      opacity: 0;
  }
  100% {
      transform: translateY(-300px) scaleX(10);
  }
}


@keyframes fly-monk {
  0% { transform : translateY(0%);}
  /* 10% { transform : translateY(20%);} */
  25% {transform : translateY(20%);}
  /* 35% { transform : translateY(20%);} */
  50% {transform : translateY(0%);}
  /* 65% { transform : translateY(20%);} */
  75% {transform : translateY(20%);}
  /* 90% { transform : translateY(20%);} */
  100% {transform : translateY(0%);}
}

@keyframes img-ani {
  from{opacity:0;}
  to{opacity: 1;}
}

@keyframes scale {
  from{transform: scale(0);}
  to {
    transform: scale(0.7);
  }
}
